<%
  const meta = {
    title: 'dialogタグでモーダル',
    description: 'dialogタグでモーダルを作ります。',
  };
%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('include/_head', {head: meta}) %>
</head>

<body style="height: 3000px;">
  <div style="width: 300px;aspect-ratio: 1; margin-left: auto; background-color: #ddd;">ダミー</div>
  <button data-modal-open>モーダルを開く</button>
  <dialog class="modal" style="display: none;">
    <div class="modal__inner">
      <button data-modal-close>モーダルを閉じる</button>
    </div>
  </dialog>
</body>
</html>
